.pendingContainer {
    height: auto;
    margin: auto;
    padding: 20px;
    color: white;
    max-width: 1000px;
  }
  
  .artistPending {
    margin: auto;
    color: fuchsia;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tableWrapper {
    padding: 10px;
    border: 1px solid #90c;
    box-shadow: 0 0 10px rgb(255 0 255 / 30%);
    max-height: none;
    overflow:visible;
    border-radius: 6px;
  }
  
  .pendingTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
    background-color: #111;
  }
  
  .pendingTable th,
  .pendingTable td {
    padding: 8px 12px;
    border: 1px solid #90c;
    text-align: center;
  }
  
  .validateBtn {
    padding: 6px 12px;
    border: none;
    color: white;
    background-color: #28a745;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .rejectBtn {
    padding: 6px 12px;
    border: none;
    color: white;
    background-color: #dc3545;
    cursor: pointer;
    border-radius: 4px;
  }