.pendingContainer {
    height: auto;
    margin: auto;
    padding: 20px;
    color: white;
    max-width: 1000px;
  }
  
  .artistPending {
    margin: auto;
    color: fuchsia;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tableWrapper {
    padding: 10px;
    border: 1px solid #90c;
    box-shadow: 0 0 10px rgb(255 0 255 / 30%);
    max-height: none;
    overflow:visible;
    border-radius: 6px;
  }
  
  .pendingTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
    background-color: #111;
  }
  
  .pendingTable th,
  .pendingTable td {
    padding: 8px 12px;
    border: 1px solid #90c;
    text-align: center;
  }
  
  .validateBtn {
    padding: 6px 12px;
    border: none;
    color: white;
    background-color: #28a745;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .rejectBtn {
    padding: 6px 12px;
    border: none;
    color: white;
    background-color: #dc3545;
    cursor: pointer;
    border-radius: 4px;
  }

 @media (max-width: 768px) {
  .pendingContainer{
    padding: 0;
  }
  .pendingTable {
    
    width: 100%;
    border: none;
  }

  .pendingTable thead {
    display: none;
  }

  .pendingTable tr {
    display: block;
   margin-bottom: 3rem;
    background-color: transparent !important;
    border: 1px solid var(--color-blue);
   
  
  }

  .pendingTable td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
  font-size: 0.8rem;
  gap: 0.5rem; 
}

  .pendingTable td:last-child {
    border-bottom: none;
  }

  .pendingTable td::before {
    content: attr(data-label);
    font-weight: bold;
    color: rgb(170, 13, 170);
    flex: 1;
    text-align: left;
  }

  .pendingTable td span {
    flex: 2;
    text-align: right;
  }

  .validateBtn,
  .rejectBtn {
    width: 100%;
    margin-top: 6px;
    font-size: 0.9rem;
  }
  .pendingTable tbody {
  background-color: transparent !important;
}
}
