.artistName1 {
    font-size: 18px;
    color: #aaa9a9;
    text-align: center;
    margin-top: 8rem;
    text-transform: uppercase;
}

.artistName2 {
    font-size: 16px;
    color: #aaa9a9;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}
.workTitle1 {
    font-size: 26px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}
.workTitle2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

.imageWork {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 50%;
    text-align: center;
    margin: 5rem auto;
}

.artworkInfo {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%;
    max-width: 500px;
    text-align: center;
    max-height: 200px;
    text-align: center;
    border-right: 1px solid #ffffff60;

}
.artworkInfoP {
    line-height: 1;
}

.workMedium {
    line-height: 2;
}
.high {
    font-size:18px;
}
.artworkDetailsContainer {
   display: flex;
  flex-direction: row; /* disposition horizontale */
  justify-content: center;
  align-items: flex-start;
  gap: 5.5rem;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.artworkTitle {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}
.artworkSpecs {
    margin: 0;
    line-height: 2.5;
}
.purchaseSection {
    display: flex;
    color: rgb(255 255 255 / 100%);
    font-size: 16px;
    max-width: 400px;
}
.purchaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    padding: 35px 22px 12px;
    background-color: rgba(70, 69, 69, 0.573);
}
.purchasePrice {
    margin: 0;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}
.purchaseDivider {
    width: 200px;
    margin: 1rem 0 0;
    border: 0;
    border-top: 1px solid rgb(255 255 255 / 100%);
}
.purchaseButton {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255 255 255 / 100%);
    color: #fff;
    transition: background-color 0.3s ease;
    background-color: rgb(186 181 181 / 16%);
    margin-top: 30px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    
}
.purchaseInfo {
    width: 333px;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
    line-height: 1.5;
}
.contactButton {
    width: 224px;
    padding: 1rem;
    border: 1px solid rgb(255 255 255 / 100%);
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: rgb(186 181 181 / 16%);
    margin: 3rem auto 3rem auto;
    min-height: 71px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    cursor: pointer none;
}
/* .wishlistButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    padding: 20px 12px;
    border: 1px solid rgb(255 255 255 / 100%);
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: rgb(186 181 181 / 16%);
    margin-top: 51px;
    min-height: 70px;
    cursor: pointer;
} */
/* .wishlistIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    margin: auto 0;
}
.wishlistText {
    width: 175px;
    margin: auto 0;
    color: #fff;
} */
.purchaseButton,
.contactButton,
.wishlistButton {
    user-select: none;
}
.artworkDetailsBis {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-width:500px;
}
.artworkDetailsBisContainer {
   display: flex;
  flex-direction: column; /* ou column si tu veux toujours en vertical */
  justify-content: center;
  margin-top: 5rem;
   /* espace entre les deux blocs */
   
}
.artworkDetailsBis_description {
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Michroma, sans-serif;
    line-height: 1.5;
    margin-bottom: 24px;
}
.artworkDetailsBis_action {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
}
.artworkDetailsBisAskButton {
    width: auto;
    height: 50px;
    padding: 1rem;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    font-family: Michroma, sans-serif;
    line-height: 100%;
    background-color: rgb(186 181 181 / 16%);
    cursor: pointer;
}
.artworkDetailsBis_shareTitle {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Michroma, sans-serif;
    line-height: 1.5;
    margin-bottom: 16px;
}
.artworkDetailsBisSocialLinks {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    gap: 1.5rem;
    font-size: 2rem;
}
.artworkSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8rem 2rem;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: Michroma;
    
}
.contentContainer {
    max-width: 1200px;
    width: 100%;
}
.sectionTitle {
    font-size: 24px;
    text-align: center;
    margin-top: 5rem ;
    font-family: Michroma, sans-serif;
}
.imageWrapper {
    width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #666565;
  box-shadow: 3px 5px 10px #adadad60;
  overflow: hidden;
}
.artworkImage {
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.imageGrid {
      display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-items: center;
}
.artworkTitle {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Michroma;
    font-weight: 400;
}
.artistProfileContentColumn {
  background: #000;
  
  color: #fff;
  font-family: Michroma, sans-serif;
  
}
.artistProfileContentWrapper {
    max-width: 1200px;
  margin: 0 auto;
  padding: 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.artistProfileHeader {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: auto; /* ou remplace par auto si tu veux adapter librement */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.artistProfileImage {
 object-fit: contain;

}
.artistProfileLabel {
   font-size: 14px;
  color: #ffffff80;
  text-align: center;
  margin:1rem auto 1rem;
  letter-spacing: 1px;
}
.artistProfileName {
    font-family: Michroma, sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.artistProfileBody {
    display: flex;

  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 3rem;
}
.artistProfilePhotoWrapper {
 position: relative;
  width: 350px;
  height: 350px;
  margin-left: 5rem;
 
  
}
.artistProfileText {
      flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.followButton {
    background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-family: Michroma, sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5rem;
  text-decoration: underline;
}

.artistProfileDescription {
    font-family: Afacad, sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.8;
  text-align: left;
}
.interviewButton {
 width: 70%;
    height: 50px;
   
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    font-family: Michroma, sans-serif;
   line-height: 1.5;
    background-color: rgb(186 181 181 / 16%);
    cursor: pointer;
    margin: 0 auto 5rem;
}
.artistProfileDivider {
  
  width: 100%;
  margin-top: 5rem;
}

.customSaparator1 {
  border: none; 
  width: 80%;          
  height: 1px;          
  background-color: rgba(116, 113, 113, 0.701);
  margin: 5rem auto 5rem auto;
}
.customSaparator2 {
  border: none; 
  width: 80%;          
  height: 1px;             
  background-color: rgba(116, 113, 113, 0.703);
  margin: 1rem auto 5rem;
}

.artistInterview {
  width: 100%;
  max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}
.question1Title {
   text-align: center;
    color : var(--color-hover);
    margin: -0.4rem auto 0.5rem;
}

.question2Title,
.question3Title {
    text-align: center;
    color : var(--color-hover);
    margin: 0.5 auto;
}

.answer1Title,
.answer2Title,
.answer3Title {
    text-align: center;
    color: #fff;
    margin: auto;
}

@media (max-width: 768px) {
  .artworkDetailsContainer {
    flex-direction: column;
    align-items: center;
  }

  .artworkInfo {
    border-right: none;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
     width: 100%;
    max-width: 500px;
    font-size: 0.8rem;
  }

  .purchaseSection {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .purchaseContainer {
    width: 70%;
   margin-top: -3rem;
  }

  .artworkDetailsBisContainer {
   
    width: 100%;
    margin-top: -3rem ;
  }

  .artworkDetailsBis {
    width: 100%;
    max-width: 600px;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  .artworkDetailsBis_description {
    font-size: 16px;
  }

  .artworkDetailsBis_action {
    flex-direction: column;
  }

  .imageWork {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 400px;
    text-align: center;
    margin: 5rem auto;
}

  .imageGrid {
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .artistProfileBody {
    flex-direction: column;
    gap: 2rem;
    
  }

  .artistProfilePhotoWrapper {
    width: 100%;
    aspect-ratio: 2/3;
    max-width: 300px;
    max-height: 300px;
    margin: -2rem auto;
  }

  .artistProfileText {
    width: 100%;
    max-width: 100%;
  }
  .artistProfileLabel {
margin-top: -2rem;
  }

  .question1Title {
    margin-top: 3rem;
  }
.customSaparator1 {
  margin-top: 4rem;
}
.customSaparator2 {
  margin: -2rem auto 2rem auto;
}
  .artistInterview {
 
    padding: 0 1.5rem;
box-sizing: border-box;
}
}
