.aboutPage {
 font-family:Michroma, sans-serif;
}

.logoOverlay {
  margin-top: 10rem;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  background-color: #000;
}

.aboutTitle {
  width: fit-content;
  border: 1px solid #000;
  color:var(--color-hover);
  font-size: 36px;
  text-align: center;
  font-family:Michroma, sans-serif;
  font-weight: 400;
  margin-top: 5rem;
}

.aboutDescription {
  color: #fff;
  font-size: clamp(14px, 1.6vw, 16px);
  text-align: center;
  font-family:Michroma, sans-serif;
  font-weight: 400;
  margin-top: 3rem;
  line-height: 1.8;
  max-width: 800px;
}

.teamTitle {
  color: #fff;
  text-align: center;
  font-family:Michroma, sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}

.customSaparator {
  border: none; 
  width: 80%;          
  height: 1px;          
  background-color: rgba(116, 113, 113, 0.701);
  margin: 5rem auto 5rem auto;
}

.teamSection {
  width: 100%;
  max-width: 1100px;
}

.teamGrid {
  gap: clamp(20px, 2.5vw, 40px);
  display: flex;
  flex-wrap: wrap;
}

.teamMemberPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: clamp(14px, 1.6vw, 16px);
  line-height: normal;
  max-width: 40%;
  font-family:Michroma, sans-serif;
  font-weight: 400;
  margin-top: 80px;
}

.memberImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  max-width: 450px;
  height: auto;
}

.memberRole {
  width: 400px;
  padding: 15px;
  border: 1px solid #000;
  text-align: center;
  margin-top: 0.1rem;
}

.memberTitle{
  color: var(--color-hover);
 font-size: 1.5rem;
 margin-top: -1rem;
}

.descriptionTitle {
  color: rgb(187, 187, 187);
}

.teamMemberInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: normal;
  width: 100%;
  max-width: 60%;
}

.memberDescription {
  margin-top: 3.1rem;
  color: #fff;
  font-size: 0.9rem;
  font-family:Michroma, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* Tablet Breakpoint */
@media (max-width: 768px) {

  .teamGrid {
    flex-direction: column;
    align-items: center;
  }

  .aboutContainer {
    margin: auto;
  }

  .aboutTitle {
    font-size: 1.5rem;
    margin-top: 5rem;
    text-align: center;
  }
  .logoOverlay {
      position: static;
    margin: 3rem auto -2rem auto;
    width: 56%;
    display: flex;
    justify-content: center;
  }

  .aboutDescription {
    margin-bottom: -1rem;
  }

  .team-member-photo,
  .teamMemberInfo {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .memberImage {
  max-width: 80vw;
  }

  .memberDescription {
  text-align: center;
}
}

