@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: 'Protest Revolution';
  src: url('/fonts/ProtestRevolution-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Base */
  --color-bg: #000;
  --color-text: #fff;
  /* Hover */
  --color-hover: #0dbab1;
  --color-blue: #0dbab1;
  /* UI */
  --color-success: rgb(10, 157, 10);
  --color-error: rgb(164, 5, 5);
  /* Border */
  --color-border: #0dbab1;
  /* Grey less light all */
  --color-grey: rgb(100, 100, 100);

}

html,
body {
 height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Michroma', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageContent {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* structure de base */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* contenu principal qui pousse le footer */
.mainContent {
  flex: 1;
}

@media (max-width: 768px) {
 .pageContent {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* structure de base */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

/* contenu principal qui pousse le footer */
.mainContent {
  flex: 0;
  height: auto;
  min-height: unset;
}
}
