
.pageContentWrapper {
  min-height: auto;
  height: auto;
  padding-bottom: 0;
}
/* Conteneur général de l'article */

.articleGrid {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: white;
  font-family: 'Michroma', sans-serif;
}



/* Colonne gauche et droite (miniatures) */
.sideColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10rem;
}
.sideColumn:empty {
  display: none;
}

/* Contenu principal (texte Markdown) */



/* En-tête avec titre, auteur, image principale */
.header {
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-blue);
}

.meta {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid #444;
  transition: transform 0.5s ease;
}
/* Hover image blog si besoin */
/* .image:hover {

   transform: scale(1.15);
   box-shadow: 0 0 10px var(--color-blue);
} */

/* Markdown personnalisé */
.heading {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.subheading {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-blue);
}

.paragraph {
  margin-bottom: 1.5rem;
  color: #ddd;
  
}

.quote {
  font-style: italic;
  color: #0dbab1;
  border-left: 4px solid #0dbab1;
  padding-left: 1rem;
  margin: 1.5rem 0;
}

/* Le wrapper centré */
.waitIntroWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.waitIntro {
  
  white-space: nowrap;
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: -2rem;
 
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .articleGrid {
    grid-template-columns: 2fr;
    max-width: 400px;
  }



  .sideColumn {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  .thumbnail {
    width: 100px;
  }

  .image {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .header {
    padding: 1rem;
  }

  .meta {
    font-size: 0.8rem;
  }

  .waitIntroWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.waitIntro {
  font-style: italic;
  white-space: nowrap;
  color: var(--color-blue);
  font-size: 1rem;
  margin-top: -2rem;
 
}
}
