.MiniBarNav-container {
    width: 100%;
    max-width: 1500px;
    margin: 1rem auto;
    color: white;
  }
  
  .MiniBarNav-bar {
    height: 1px;
    background-color: #ccc;
    margin: 0;
  }
  
  .MiniBarNav {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* ← pour les aligner à gauche */
    gap: 0.6rem;
    padding: 0.8rem 0;
    font-size: 0.95rem;
    font-family: "Michroma", sans-serif;
    padding-left: 70px; /* ← ajoute ce padding pour décaler les liens */
  }
  
  
  .MiniBarNav-link {
    display: flex;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    justify-content: flex-start; /* ← pour les aligner à gauche */
  }
  
  .MiniBarNav-link:hover {
    color: #aaa;
  }
  
  .MiniBarNav-separator {
    color: #aaa;
    font-size: 0.9rem;
  }
  
  .MiniBarNav-current {
    color: #fff;
    font-weight: bold;
  }
  