.selection-container {
  background: black;
  color: white;
  padding: 60px 20px;
  text-align: center;
  z-index: 9999;
}

.selection-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 60px auto 40px;
}

.selection-title {
  font-family: 'Michroma', sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 0 20px;
    line-height: 1;
 
  z-index: 5;
}

.selection-line {
  flex-grow: 1;
  height: 6px;
  background-image: repeating-linear-gradient(
    to right,
    white,
    white 2px,
    transparent 2px,
    transparent 4px);
  opacity: 0.9;
}

.end-selection-line {
  margin-top: 55px;
  flex-grow: 1;
  height: 6px;
  background-image: repeating-linear-gradient(
    to right,
    white,
    white 2px,
    transparent 2px,
    transparent 4px
  );
  opacity: 0.9;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

/* Rétablit les images nettes */
.artwork-hover {
  filter: none;
  opacity: 1;
  transition: transform 1s ease, filter 0.3s ease, opacity 0.3s ease;
  transform: scale(1); /* position de base */
  z-index: 9999;
}

.artwork-hover:hover {
  filter: none;
  opacity: 1;
  z-index: 10;
  position: relative;
  transform: scale(1.25);
  z-index: 9999;
}
/* Si une image est survolée, floute toutes les autres */
.gallery-container:has(.artwork-hover:hover) .artwork-hover:not(:hover) {
  filter: blur(4px);
  opacity: 0.1;
  z-index: 9999;
}

.nav-blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px; /* hauteur de .mainNav */
  width: 100vw;
  z-index: 9990; /* juste sous les images zoomées */
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.nav-blur-overlay.active {
  opacity: 1;
}

.line {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
}

.line_landscape {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  z-index: 9999;
}

.img-square {
  width: 500px !important;
  height: 500px !important;
  object-fit: contain;
  margin-top: 50px;
  z-index: 9999;
}

.img-round {
  width: 400px !important;
  height: 400px !important;
  border-radius: 50%;
  object-fit: cover;
  background: black;
  margin-top: 50px;
  z-index: 9999;
}

.img-landscape {
  margin-top: 50px;
  width: 600px !important;
  height: auto;
  object-fit: cover;
  z-index: 9999;
}

.img-gta {
  margin-top: 50px;
  width: 600px;
  height: auto;
  object-fit: contain;
}
