@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");




body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(0 0 0);
    font-family: Michroma, sans-serif;
    min-height: 100vh;
}

body > header:nth-child(1) {
    height: 350px;
  }
  
main {
    flex: 1;
}

header {
    display: flex;
    align-items: center;


}

.header-border_1 {
    align-items: center;
    width: 22%;       /* Largeur totale pour être responsive */
    height: 5px;       /* Hauteur de la ligne */
    background: transparent;
    border-top: 1px solid rgb(255 255 255); /* Deuxième ligne */  
}

.header-border_2 {
    align-items: center;
    width: 20%;       /* Largeur totale pour être responsive */
    height: 5px;       /* Hauteur de la ligne */
    background: transparent;
    border-bottom: 1px solid rgb(255 255 255); /* Deuxième ligne */  
}

.header-svg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
   margin-top: 15%;
    margin-left: 5%;
    
}

.footer-border_5 {
    align-items: center;
    width: 100%;       /* Largeur totale pour être responsive */
    height: 20px;       /* Hauteur de la ligne */
    background: transparent;
    border-bottom: 1px solid gray; /* Deuxième ligne */  
}

.nav-simple {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background: rgb(0 0 0 / 0%);
    color: white;
    font-size: 1.2em;
    text-align: left;
    margin-left: 5%;
}

.nav-simple a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

.nav-simple .current-page {
    text-decoration: underline;
}



#menu {
    display: none;
    position: fixed;
    top: 5%; 
    right: 100px;
    padding: 14px;
    background: rgb(0 0 0);
    text-align: center;
    list-style: none;
    border-radius: 5px;
}

nav ul li {
    align-items: center;
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#menu-toggle {
    display: flex;  
    position: fixed;
    top: 0;  /* Ajuste selon la hauteur de ton header */
    right: 20px;
    z-index: 9999;
    padding: 10px;
    background: black;
    font-size: 48px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    border-radius: 5px;
}


.gallery {
    display: grid;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 50px;
    max-width: 1200px;
    
}

.art-item {
    display: grid;
    flex-direction: column;
    justify-content: space-between; /* Répartit le contenu */
    align-items: center;
    position: relative;
    height: 100%; /* Garde toutes les cartes de la même hauteur */
    padding: 15px;
    background: #000;
    border-radius: 8px;
}


.art-item img {    
    justify-content: center;
    width: 100%;
    object-fit: cover;
    margin-top: auto;
}

.art-item .info {
    display: grid;
    flex-direction: column;
    place-items: center center; /* Centre les éléments horizontalement */
    
    width: 100%;
    margin-top: auto; /* Pousse la div en bas */
    padding-bottom: 20px; /* Ajoute un espace pour éviter que ça touche le bord */
    
}

button {
    padding: 8px 12px;
    border: 1px solid rgb(255 255 255);
    background: transparent;
    color: rgb(255 255 255);
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: red;
    color: white;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
}

.sidebar  {
    display: flex;
    justify-content: center; /* Centre le contenu de la barre */
    align-items: center;     /* Centre les enfants verticalement */
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;             /* Largeur 100% pour qu'elle prenne toute la largeur */
    height: 80px;            /* Hauteur de la navbar */
    margin: 0;
    padding: 0; 
    transform: translateX(-50%); /* Centre la navbar horizontalement */
    max-width: 1300px;       /* Largeur max pour les grands écrans */
}


.links {
    display: flex;
    justify-content: space-between; /* Distribue les liens sur toute la largeur */
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 9998;
    width: 100%; /* Augmente la largeur pour éviter que les liens se cassent */
    height: 80px;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 10px rgb(255 255 255 / 54.8%);
    transform: translateX(-50%);
    max-width: 1800px; /* Augmente la largeur max */
    border-radius: 5px;
    background-color: #000;
    list-style: none;
}


.nav-link {
    margin: 0 15px; /* Réduit l’espace entre les liens */
    font-size: 1.1em; /* Réduit légèrement la taille si nécessaire */
    text-decoration: none;
    white-space: nowrap; /* Empêche les liens de se casser en deux lignes */
}

.nav-link:hover {
    color: #730303; /* Effet de survol (hover) */
}

.hamburger-menu {
    display: none;
    margin-top: 15%;
}

/* Reviews Section */
.reviews-section {
  margin-top: 100px;
  padding: 40px 0;
  background-color: #1a1717;
}

.reviews-svg {
  width: 100%;
  height: 310px;
}

.testimonial-container {
  margin: auto; /* Centre le bloc */
  color: white;
  text-align: center; /* Centre le texte horizontalement */
  font-family: Michroma, sans-serif;
  max-width: 600px; /* Largeur max pour éviter un étalement trop large */
  line-height: 1.5; /* Améliore la lisibilité */
}

.testimonial-title {
  font-size: 8px; /* Taille correspondant à "EXCELLENT" */
  font-weight: bold;
  margin-bottom: 10px; /* Espacement entre le titre et le texte */
}

.testimonial-text {
  font-size: 12px; /* Taille du texte principal */
}


/*  FOOTER  */


footer {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
  

}

.footer-border_5 {
    align-items: center;
    width: 100%;       /* Largeur totale pour être responsive */
    height: 5px;       /* Hauteur de la ligne */
    background: transparent;
    border-bottom: 1px solid rgb(255 255 255); /* Deuxième ligne */  
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
    border-top: 1px solid rgb(255 255 255);
    margin-left: 0;
    margin-right: 0;
}

.newsletter-label {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 2%;
}

.newsletter {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.newsletter input {
    width: 250px;
    padding: 10px;
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 1em;
    margin-right: -5px; /* Supprime l'espace entre l'input et le bouton */
}

.newsletter button {
    padding: 10px 15px;
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.newsletter button:hover {
    background: white;
    color: black;
}

.subscribe-btn {
    margin-top:0;
}

.footer-svg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 20%;
    margin-right: 15px;
    margin-left: 50px;
}


.info-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-banner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 944px;
  padding: 0 20px;
}

.info-banner_item {
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-family: Michroma, sans-serif;
  font-weight: 400;
  max-width: 226px;
}

@media (width <= 991px) {
  .info-banner {
    height: auto;
  }

  .info-banner_container {
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
  }

  .info-banner_item {
    font-size: 10px;
  }
}

@media (width <= 640px) {
  .info-banner {
    height: auto;
  }

  .info-banner_container {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .info-banner_item {
    font-size: 10px;
    max-width: 100%;
  }
}


.footer-links {
        display: flex;
        gap: 60px;
       justify-content: center;
      margin-top: -5%;
       
      }

.footer-column {
    display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 12px;
  list-style: none;
}

.footer-link {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover{
    text-decoration: underline;
}
@media (width <= 991px) {
    .footer-links {
       width: 100%;
        gap: 40px;
    }
}
@media (width <= 640px) {
    .footer-links {
        flex-direction: column;
        gap: 64px;
    }

    .footer-column {
        align-items: center;
    }
}


.footer-links_2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    padding: 50px;
    gap: 60px;
    max-width: 70%;
    
  }
  
  .legal-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .legal-link {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .payment-section {
    text-align: center;
  }
  
  .payment-text {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .payment-methods {
    width: 168px;
    height: 28px;
  }
  
  .social-links {
    display: flex;
    gap: 16px;
    margin-top: 18px;
  }
  
  .social-link {
    display: block;
    width: 24px;
    height: 24px;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
  }
  
  .contact-box {
    position: relative;
    width: 229px;
    padding: 20px;
    text-align: center;
  }
  
  .contact-box-border {
    position: absolute;
    inset: 3px;
    border: 1px solid #fff;
  }
  
  .contact-box-border-outer {
    position: absolute;
    inset: 0;
    border: 1px solid #fff;
  }
  
  .contact-content {
    position: relative;
    z-index: 1;
  }
  
  .contact-title {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  
  .contact-subtitle {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  
  .contact-phone {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  
  .contact-hours {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  
  @media (width <= 991px) {
    .footer-links {
      flex-wrap: wrap;
      gap: 30px;
    }
  
    .payment-section {
      order: 2;
      width: 100%;
    }
  
    .social-links {
      justify-content: center;
      width: 100%;
      order: 3;
    }
  
    .contact-box {
      order: 1;
      margin: 0 auto;
    }
  }
  
  @media (width <= 640px) {
    .footer {
      padding: 20px;
    }
  
    .legal-links {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .social-links {
      margin-top: 30px;
    }
  
    .contact-box {
      width: 100%;
    }
  
    .contact-box-border,
    .contact-box-border-outer {
      display: none;
    }
  }
  