.pending-container {
    padding: 20px;
    color: white;
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: fuchsia;
    margin: auto;
  }
  
  .table-wrapper {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #9900cc;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.3);
  }
  
  .pending-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    background-color: #111;
  }
  
  .pending-table th,
  .pending-table td {
    border: 1px solid #9900cc;
    padding: 8px 12px;
    text-align: center;
  }
  
  .validate-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .reject-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
  }