.artistWorksSection {
  margin-top: 3rem;
  padding: 2rem 0;
}

.dashboardSubtitle {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
}

.dashboardNote {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
 
}
  

