/* === Galerie globale === */
.artistGallery {
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.artistGallery a,
.artistGallery a:visited {
  text-decoration: none;
  color: inherit;
}

/* === Grille des œuvres === */
.artistGalleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem 2rem;
  justify-items: center;
}

/* === Éléments de la galerie === */
.artistGalleryItem {
  min-height: 200px;
}

/* === Carte d'œuvre === */
.artworkCard {
 width: 100%;
  max-width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 4rem;
  background: transparent;
}

.artworkCard img,
.artistGalleryImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.artworkCard:hover .artistGalleryImage {
  transform: scale(1.03);
}

/* === Conteneur de l'image === */
.artworkImageBox {
   width: 100%;
  height: 100%; /* ⚠️ clé ici : occupe toute la hauteur */
  display: flex;
  align-items: flex-end; /* colle l’image en bas */
  justify-content: center;
}

.artworkImageBox img {
    max-height: 100%; /* ne dépasse jamais */
  width: auto;      /* respecte le ratio */
  object-fit: contain;
  display: block;
}

.artistGalleryImage {
  display: block;
  max-width: 100%;
  height: auto;
}

/* === Informations sous l’image === */
.artworkInfo {
   text-align: center;
  width: 100%;
  max-width: 300px;
  line-height: 1.4;
  color: white;
  margin: 3rem auto 0 auto;
  border: none;
  outline: none;
}

.artworkInfo * {
  border: none;
  outline: none;
}

.artworkInfo p {
  margin: 0;
}

/* === Titre de l’œuvre === */
.artworkTitle {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

/* === Séparateur blanc === */
.artworkDivider {
  height: 1px;
  background-color: white;
  margin: 0.4rem auto 0.8rem;
}

/* === Date de création ou d’ajout === */
.artworkDate {
  font-size: 0.95rem;
  color: #ccc;
  margin: 0.2rem 0;
}

.addworkButton {
  padding: 8px 24px;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--color-blue);
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.5px;
  display: block;
  margin: 20px auto 0 auto;
}

.addworkButton:hover {
  background-color: var(--color-blue);
  color: #111;
 border: 1px solid rgb(255, 255, 255);
}


@media screen and (max-width: 768px) {
 .artworkCard {
  width: 480px;
  aspect-ratio: 3 / 4;
  padding-inline: 2rem;
  box-sizing: border-box;
  
}

.artistGallery {
 box-sizing: border-box;
  margin:auto;
  justify-content: center;
}

.artworkInfo {
  text-align: center;
  
  margin: 4rem auto 0 auto;

}
}