/* === Page artiste solo === */
.artistPage {
  background-color: black;
  color: white;
  padding-bottom: 4rem;
}

/* === Intro (titre + sous-titre) === */
.artistIntro {
  text-align: center;
}

.artistSubtitle {
  color: #aaa;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 6rem auto 1.5rem;
}

.artistName {
  font-size:1rem;
  font-weight: 700;
  margin-top: -3rem;
  text-transform: uppercase;
  color: var(--color-hover);
}
.artistUsername {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: -1rem;
}

/* === Conteneur & portrait de l’artiste === */
.artistContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: black;
}

.artistImage1 {
  display: flex;
  width: 700px;
  margin: -2rem auto;
}

.galleryWorks {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {

 .artistImage1 {
 display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 400px;
    text-align: center;
    margin: -1rem auto;
 }
 .artistFullname {
  font-size: 2rem;
  font-weight: 700;
 
}
}