.artistGallerySection {
  margin-top: -1rem;
  padding-top: 3rem;
  position: relative;
}

.artistGalleryWrapper {
  position: relative;
  z-index: 1;
  padding-top: 2.5rem;
  padding: 0.3rem;
  border: 1px solid hsl(0, 1%, 34%);
  background-color: #000;
  margin: 2rem auto;
  box-sizing: border-box;
  max-width: 1200px;
}

.artistGalleryTitleWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem;
  z-index: 15;
}

.artistGalleryTitle {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-hover);
  background-color: black;
  margin-top: 10px;
  
}

.artistGalleryInner {
  background-color: #000;
  border: 1px solid hsl(0, 1%, 52%);
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
}

 .viewAllWrapper {
  text-align: center;
  margin-top: -4rem;
}

.viewAllArticlesButton {
  padding: 1rem 1.3rem;
  background: transparent;
  color:white;
  border: 1px solid var(--color-hover);
  font-family: 'Michroma', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.viewAllArticlesButton:hover {
  background-color: var(--color-hover);
  color: #000;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .artistGalleryTitle {
    font-size: 1.1rem;
    white-space: nowrap;
    margin-top: 5px;
    padding: 0;
  }
  .artistGalleryTitle {
    padding: 0 1rem;
  }
}