.artistGallerySection {
  margin-top: -1rem;
  padding: 4rem;
  position: relative;
}

.artistGalleryWrapper {
  position: relative;
  z-index: 1;
  padding-top: 2.5rem;
  padding: 0.3rem;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: #000;
  margin: 2rem auto;
  box-sizing: border-box;
  max-width: 1200px;
}

.artistGalleryTitleWrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
 
  padding: 0 1rem;
  z-index: 15;
}

.artistGalleryTitle {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  background-color: black;
  margin-top: 10px;
  
}

.artistGalleryInner {
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr, 1fr));
  gap: 2rem;
}


@media screen and (max-width: 768px) {
  .artistGalleryTitle {
    font-size: 1.1rem;
    white-space: nowrap;
    margin-top: 5px;
    padding: 0;
  }
  .artistGalleryTitle {
    padding: 0 1rem;
  }
}