.artistGallery {
  width: 100%;
  
  max-width: 1000px;
  margin: 2rem auto;
  justify-content: center;
}

.galleryContainer {
  width: 100%;
}

/* === Grille principale === */
.artistGalleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem 2rem;
  justify-items: center;
}

/* === Carte de chaque élément === */
.artistGalleryItem {
  min-height: 180px;
}

/* === Carte visuelle de l’œuvre === */
.artworkCard {
  width: 100%;
  max-width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 4rem;
  background: transparent;
}

/* === Conteneur de l'image === */

.artworkImageBox {
   width: 100%;
  height: 100%; /* ⚠️ clé ici : occupe toute la hauteur */
  display: flex;
  align-items: flex-end; /* colle l’image en bas */
  justify-content: center;
}

.artworkImageBox img {
   max-height: 100%; /* ne dépasse jamais */
  width: auto;      /* respecte le ratio */
  object-fit: contain;
  display: block;
  
}

.artistGalleryImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.artworkHover:hover {
  transform: scale(1.03);
}

/* === Infos sous l’œuvre === */
.artworkInfo {
  text-align: center;
  width: 100%;
  max-width: 300px;
  line-height: 1.4;
  color: white;
  margin: 3rem auto 0 auto;
  border: none;
  outline: none;
}

.artworkTitle {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.artworkDivider {
  height: 1px;
  background-color: white;
  margin: 0.4rem auto 0.8rem;
}

.dividerDefault {
  background-color: white;
}

.dividerHome {
  background-color: #666;
}

/* === Extraire pour stylisé differement === */


.artworkDescription,
.artworkMedium,
.artworkDimensions,
.artworkThemes,
.artworkType,
.artworkArtist,
.artworkPrice,
.artworkUsername,
.artworkStyle,
.artworkDate {
  font-size: 0.95rem;
  color: #ccc;
  margin: 0.2rem 0;
}
@media screen and (max-width: 768px) {

  .artistGalleryGrid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      display: grid;
      justify-items: center;
      padding-inline: 0.5rem
  }
   .artworkCard {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .artworkImageBox {
    width: 100%;
    height: auto;
    display: block;
  }
 .artworkInfo {
margin: 0 auto 0 auto;
 }
 .artworkMedium {
  font-size: 0.8rem;
 }
.artworkArtist {
margin-bottom: 3rem;
font-size: 0.8rem;
}

.artworkTitle {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.artworkDivider {
  height: 1px;
  width: 70%;
  background-color: white;
  margin: 0.4rem auto 0.8rem;
}

}

