
.mainNavBlurred {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.iconWrapper .iconSvg {
  font-size: 2rem;
}

.navbarNavCustom .navLink {
    font-family: Michroma, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #dfdfdf;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 9998;
}

.navbarNavCustom .navLink:hover {
    color: #0dbab1;
}

.navbarNavCustom .navAccueil {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 1px;
    margin: 0 2vw;
    z-index: 10;
}

.navbarNavCustom .navAccueil:hover {
    color: #0dbab1;
    transform: scale(1.1);
}

.navbarNavCustom .navItem:not(:has(.navAccueil)) {
    margin: 0 1.3vw;
}

.mainNav {
	position:fixed;
	height: 70px;
	width:100%;
	top: 0;
    padding: 0;
    z-index: 9990;
    background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
}

.navbarNavCustom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    z-index: 9998;
}

.navbarNavCustom .navItem {
    margin: 0;
}

.navbarNavCustom .navLink {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.navbarNavCustom .navLinkActive {
    font-weight: bold;
}

.menuToggle {
    display: block;
    font-size: 0.8rem;
    padding:1rem 1.2rem;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

.menuToggle:hover {
    color: #0dbab1;
    border: 1px solid #0dbab1;
    transform: scale(1.05);
    background: none !important;
}

.mobileMenu {
    position: fixed;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9998;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.mobileMenu li {
    margin: 10px 0;
}

.mobileMenu li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

.mobileMenu li a:hover {
    color: var(--color-hover);
}

.logoutBtn {
    margin-top: 1px;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.453);
}

.logoutBtn:hover {
    color: #ad0404;
}

.addWorkInsideMenu {
    background-color: #000000;
    color: white;
    border: 1px solid white;
    font-size: 0.8rem;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.453);
}

.addWorkInsideMenu:hover {
    background-color: white;
    color: #000;
    transform: scale(1.03);
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    z-index: 9998;
}

.iconSvg:hover,
.logoutIcon:hover {
    color: #0dbab1;
    background: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9995;
}

.navBlurOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    z-index: 9990;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

@media (max-width: 1440px) {
  .navbarNavCustom {
    display: none;
  }
}

@media (max-width: 768px) {
    .iconWrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    z-index: 9998;
}
}