.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

.customCard {
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* On garde la limite pour toutes sauf la 3e */
.customCard:not(.fullWidthCard) {
  max-width: 460px;
}

.cardMedia {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.customCardContent {
  padding: 1rem;
}

.truncatedText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blogAuthor {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--color-hover);
}

.viewArticleButton {
  padding: 0.6rem 1.4rem;
  background: transparent;
  color: var(--color-hover);
  border: 1px solid var(--color-hover);
  font-family: 'Michroma', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
}

.viewArticleButton:hover {
  background-color: var(--color-hover);
  color: #000;
  transform: scale(1.05);
}

.fullWidthCard {
  grid-column: 1 / -1;
  width: 100%;
}

.cardWrapper {
  position: relative;
  transition: filter 0.3s ease;
}

.blurredCard {
  filter: blur(5px) brightness(0.8);
  opacity: 0.3;
  transition: filter 0.3s ease;
  pointer-events: none; /* empêche le survol des autres cartes */
}

.focusedCard {
  position: relative;
  z-index: 1001;
}



/* === Responsive === */
@media screen and (max-width: 768px) {

  .artistGalleryTitleWrapper {
  padding: 0;
 margin-top: -5px;
  }
  .artistGalleryTitle {
    white-space: nowrap;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    
  }

  .gridWrapper {
    grid-template-columns: 1fr; /* ✅ 1 colonne en mobile */
  }

  .fullWidthCard {
    grid-column: span 1;
  }

  .customCard {
    max-width: 100%;
  }
}

  .cardMedia {
    aspect-ratio: 16 / 9;
  
}
