

/* CONTENEUR GLOBAL */

.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
   
    height: 100vh;
    font-family: Michroma, sans-serif;
    margin: 5rem auto;
    padding-top: 0.1rem;
    padding-bottom: 4rem;
   
}

/* TITRE EN HAUT */
.personalSpace {
    position: relative;
    margin: 2rem auto;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
}

/* BOX FORMULAIRE CENTRÉ */
.BoxComponent {
    border: 1px solid white;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    border: 1px solid white;
    
    box-sizing: border-box;
}



/* FORM */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 1.2rem;
    max-width: 1100px;
}

/* CHAMP */
.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(109, 107, 107); /* ✅ fine bordure blanche */
    color: white;
    font-size: 1rem;
    text-align: center;
    max-width: 500px;
    background-color: #322d2d; /* bordeaux foncé */
    outline: none;
}

/* BOUTONS */

 .button {
    width: 100%;
    padding: 1rem;
    border: 1px solid white;          /* ✅ fine bordure blanche */
    color: white;
    font-size: 0.95rem;
    text-align: center;
    box-shadow: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 300px;
    background-color: black;          /* ✅ fond noir par défaut */
    cursor: pointer;
    border-radius: 0;
  }

  /* Hover : inversion simple */
  .button:hover {
    background-color: white;
    color: black;
  }

.buttonGroup {
   display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.buttonPrimary {
    width: 50%;
  padding: 0.75rem 1.5rem;
  border: 1px solid white;
 background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.95rem;
  margin-top: 0.1rem;
}

.buttonPrimary:hover {
  background-color:var(--color-hover);
  color: black;
}

.buttonSecondary {
    border:none;
    background: none;
    font-size: 0.7rem;
    margin-top: 1rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: white;
}

.buttonSecondary:hover {
    text-decoration: underline;
    color: var(--color-hover);
}

/* LIGNE */
  .divider {
    width: 30%;
    height: 1px;
    background-color: white;
    opacity: 1;
    margin: -0.5rem auto;
  }

 .alreadyClient {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    max-width: 1100px;
    margin-left: calc((100% - 700px) / 2);
  }

  .LoginLink {
    color:var(--color-hover);
    text-decoration: underline;
  }

