.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.logoImage {
  max-width: 440px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logoWrapper {
    margin-top: 6rem;
  }

  .logoImage {
    max-width: 300px;
  }
}
