.logoOverlay {
  position: static;
  display: inline-block;
  z-index: 10;
  max-width: 440px;
  margin: 2rem auto;
}

.logoOverlayInscription {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block; 
  transform: translate(15%, -45%);
  z-index: 10;
  transition: transform 0.3s ease, top 0.3s ease;
  /* outline: 1px dashed red; */
}

.clickZone1,
.clickZone2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  cursor: pointer;
  background: transparent;
  /* outline: 1px dashed rgb(19, 158, 33); */
}

.clickZone1 {
  width: 160px;
  height: 250px;
}

.clickZone2 {
  width: 540px;
  height: 140px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .logoOverlayInscription {
    transform: translate(5%, -60%) scale(0.85);
  }
}

@media screen and (max-width: 768px) {
  .logoOverlayInscription {
    transform: translate(5%, -48%) scale(0.6);
  }
  .clickZone1 {
    width: 200px;
    height: 180px;
  }
  .clickZone2 {
    width: 500px;
    height: 140px;
  }
}
