
.containerLogin {
  padding: 2rem;
  background: black;
  color: white;
  min-height: 100vh;
}

.boxComponent {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 8px;
}

.personalSpace {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.textLogin {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.1rem;
}

.adminFormWrapper {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px dashed white;
}
